.titre {
    font-family: welcome-font, sans-serif, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-align: center;
  }
  .result {
    font-family: welcome-font, sans-serif, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.6px;
    display: block;
  }
 
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    padding-top: 0px;
    margin-bottom: 8px;
    background-color: #efeae4;
}